<div>
	<div class="textogaleria">
			<%= link_to "Volver al Inicio", root_path, class: "boton" %>
		<p class="pincel2">Hugo Riveros pintor y militante del MIR, fue detenido y torturado en varias oportunidades durante la dictadura, también vivió el exilio y volvió al país, pero finalmente fue asesinado en 1981. Parte de sus obra -que incluyen testimonios de su reclusión- fueron donados al Museo de la Memoria y los Derechos Humanos por su familia, y que conforman la exposición “Tributo al artista Hugo Riveros Gómez” que se inaugura el jueves 24 de agosto a las 19.00 horas en la Biblioteca Pública Pablo Neruda, de la comuna de Independencia. En la ocasión, se realizará además un conversatorio para los asistentes, así que los esperamos en la calle Profesor Zañartu 1185. La exhibición estará abierta a todo público hasta el 30 de septiembre y la entrada es liberada.
	</div>

	<!-- Thumbnail -->
	<section id="thumbnails">

		<article>
			<a class="thumbnail" href="assets/testimoniohugo1"><img src="<%= image_path("testimoniohugo1.jpg")%>" alt=""/></a>
		</article>
		<article>
			<a class="thumbnail" href="assets/testimoniohugo2"><img src="<%= image_path("testimoniohugo2.jpg")%>" alt=""/></a>
		</article>
		<article>
			<a class="thumbnail" href="assets/testimoniohugo3"><img src="<%= image_path("testimoniohugo3.jpg")%>" alt=""/></a>
		</article>
		<article>
			<a class="thumbnail" href="assets/testimoniohugo4"><img src="<%= image_path("testimoniohugo4.jpg")%>" alt=""/></a>
		</article>
		<article>
			<a class="thumbnail" href="assets/testimoniohugo5"><img src="<%= image_path("testimoniohugo5.jpg")%>" alt=""/></a>
		</article>
	</section>




</div>
